<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <div *ngFor="let hero of heroes"  class="col-1-4">
    <md-card>
      <md-card-header>
        <md-card-title class="card-title">{{hero.name}}</md-card-title>
      </md-card-header>
      <img class="card-img" md-card-image src="{{hero.image}}" />
      <md-card-content>
        <p>{{hero.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button [routerLink]="['/detail', hero.id]">DETAILS</button>
      </md-card-actions>
    </md-card>
  </div>
</div>

